h1 { margin: 0 0 -6px 0;}
h1.heading {
  margin-top: -15px !important;
  margin-bottom: 0 !important;
}
.header-texture { padding: 10px 0 0 190px; height: 50px;}
.post-info .parts { padding-right: 0px}
.attribution { padding: 10px}
.bebas { visibility: visible}